.results section {
   background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 12px 30px rgb(0 0 0 / 6%);
    margin-top: 25px;
}

.results-word {
  color: #ff7272;
  font-weight: 800;
  line-height: 1.5;
}

.meaning-partOfSpeech {
  font-size: 16px;
}

h3 {
    line-height: 32px;
}

.phonetics {
  font-size: 18px;
  line-height: 1.5;
}
