.results section {
  margin-top: 25px;
  max-width: 60%;
padding: 20px;
    border-radius: 8px;
    box-shadow: 0 12px 12px rgb(0 0 0 / 10%);
    margin-top: 25px;

}

.results-word {
  color: #FF7272;
  font-weight: 800;
}

.meaning-partOfSpeech {
  font-size: 16px;
}

.synonym {
  margin-bottom: 12px;
}

.phonetics {
font-size: 18px;
}
